.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  overflow: hidden;
  .upperVector {
    position: absolute;
    max-width: 1250px;
    top: 0;
    left: 0;
    @media (max-width: 1060px) {
      max-width: 1000px;
    }
    @media (max-width: 594px) {
      max-width: 800px;
    }
    @media (max-width: 485px) {
      max-width: 600px;
    }
  }
  span {
    margin-top: 20px;
    @media (max-width: 1060px) {
      margin-top: 50px;
    }
    color: #000;
    z-index: 1;
    /* Heading H1 */
    font-family: Trebuchet MS;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.408px;
    padding: 57px 120px;
    @media (max-width: 770px) {
      padding: 50px 50px;
      margin-top: 100px;
    }
    @media (max-width: 485px) {
      padding: 10px 10px;
    }
  }
  .buttons {
    margin-top: 20px;
    @media (max-width: 1060px) {
      margin-top: 50px;
    }
    display: flex;
    gap: 18px;
    padding: 57px 120px;
    z-index: 1;
    @media (max-width: 770px) {
      padding: 50px 50px;
      margin-top: 100px;
    }
    @media (max-width: 485px) {
      padding: 10px 10px;
    }
    button {
      display: flex;
      width: 103px;
      height: 44px;
      padding: 10px 30px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 16px;
      background: var(--Body-4, #f6f7fa);
      color: var(--Heading, #25282f);

      /* Body Text */
      font-family: Trebuchet MS;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
      border: none;
      cursor: pointer;
    }
    .active {
      display: flex;
      width: 103px;
      height: 44px;
      padding: 10px 30px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 16px;
      background: var(--Body-4, #f6f7fa);

      /* Body Text */
      font-family: Trebuchet MS;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
      border: none;
      color: #066fde;
    }
  }
}
