.home {
  .first-block {
    z-index: 2;
    position: relative;
    // background: linear-gradient(
    //   180deg,
    //   rgba(172, 216, 239, 0.5) -2.24%,
    //   rgba(245, 250, 255, 0) 78.75%
    // );
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
      @media (max-width: 1160px) {
        flex-direction: column;
      }
      .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 57px 120px;
        @media (max-width: 770px) {
          padding: 50px 50px;
        }
        @media (max-width: 485px) {
          padding: 10px 10px;
          margin-top: 30px;
        }
        p {
          color: #000;
          text-align: center;
          font-family: Trebuchet MS;
          font-size: 55px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 66px */
          letter-spacing: -0.408px;
          max-width: 845.063px;
        }
        span {
          color: rgba(32, 43, 71, 0.8);
          text-align: center;
          font-family: Trebuchet MS;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 28.8px */
          letter-spacing: 0.08px;
          max-width: 587px;
        }
        button {
          display: flex;
          height: 54px;
          max-width: 360px;
          width: 100%;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 16px;
          background: var(--Grad, linear-gradient(139deg, #404065 10.29%, #0085ff 94.53%));
          color: var(--White, #fff);
          text-align: center;
          font-family: Trebuchet MS;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 36px */
          border: none;
          cursor: pointer;
        }
      }
      .right {
        padding: 57px 120px;
        @media (max-width: 770px) {
          padding: 50px 50px;
        }
        @media (max-width: 485px) {
          padding: 10px 10px;
        }
        img {
          max-width: 450px;
          @media (max-width: 1367px) {
            max-width: 400px;
          }
          @media (max-width: 1280px) {
            max-width: 320px;
          }
        }
      }
    }
  }
  .second-block {
    background: url("../assets/back.svg");
    background-position: right;
    width: 100%;
    height: 1940px;
    position: relative;
    bottom: 200px;
    @media (max-width: 785px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .text {
      position: relative;
      z-index: 1;
      top: 600px;
      float: right;
      max-width: 683px;
      display: flex;
      flex-direction: column;
      gap: 23px;
      right: 50px;
      padding: 0 20px;
      @media (max-width: 785px) {
        float: none;
        right: 0;
      }
      p {
        max-width: 579px;
        color: #fff;
        font-family: Trebuchet MS;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px; /* 116.667% */
        letter-spacing: 0.105px;
      }
      span {
        color: #fff;
        font-family: Trebuchet MS;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px; /* 141.667% */
        max-width: 683px;
      }
    }
    .three-blocks {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 21px;
      position: relative;
      top: 950px;
      padding: 0 20px;
      @media (max-width: 1056px) {
        flex-direction: column;
        top: 850px;
      }
      @media (max-width: 650px) {
        flex-direction: column;
        top: 750px;
      }
      @media (max-width: 600px) {
        top: 650px;
      }
      @media (max-width: 405px) {
        gap: 10px;
      }
      .block {
        display: flex;
        max-height: 258px;
        padding: 31px;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        border-radius: 16px;
        background: #fff;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
        @media (max-width: 405px) {
          gap: 5px;
        }
        @media (max-width: 365px) {
          padding: 20px;
        }
        p {
          color: var(--Heading, #25282f);
          font-family: Trebuchet MS;
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: 40px; /* 142.857% */
          @media (max-width: 365px) {
            font-size: 25px;
          }
        }
        span {
          color: var(--Body, #646670);
          max-width: 324px;
          /* Body Text */
          font-family: Trebuchet MS;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          @media (max-width: 365px) {
            font-size: 16px;
          }
        }
      }
    }
  }

  .fourth-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    p {
      color: var(--Heading, #25282f);
      text-align: center;
      font-family: Trebuchet MS;
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: 49px; /* 116.667% */
      letter-spacing: 0.105px;
      @media (max-width: 800px) {
        font-size: 32px;
      }
    }
    img {
      @media (max-width: 800px) {
        max-width: 600px;
      }
      @media (max-width: 615px) {
        max-width: 450px;
      }
      @media (max-width: 450px) {
        max-width: 350px;
      }
    }
  }
}
